<div class="row" *ngIf="projectService.current">
    <div class="col-sm-2">
        <plan-list [project]="projectService.current" (select)="onSelect($event)"></plan-list>
    </div>
    <div class="col-sm-offset-2 col-md-offset-2 right">
        <div class="plan-head" *ngIf="current.id">
            <h1>{{current.name}}</h1>
            <ul class="summary">
                <li>ID: <span>{{current.id}}</span></li>
                <li>Type: <span>{{current.type}}</span></li>
                <li>Start: <span>{{date(current.start)}}</span></li>
                <li>Deadline: <span>{{date(current.end)}}</span></li>
            </ul>
        </div>
        <div class="item-table">
            <div class="loading-mask" *ngIf="ui.loading.show">
                <div class="spinner-loader"></div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">{{current.name}}</div>
                <table class="table">
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Type</th>
                        <th>title</th>
                        <th>Status</th>
                        <th>Owner</th>
                        <th>Operations</th>
                    </tr>
                    <tr *ngFor="#item of workItems">
                        <td><input class="checkbox" [(ngModel)]="item.checked" type="checkbox">
                            <!-- TODO: why this 2-way binding not working? -->
                        </td>
                        <td>{{item.id}}</td>
                        <td>{{item.type}}</td>
                        <td><a (click)="showItem(item)">{{item.title}}</a></td>
                        <td>
                            <div class="btn-group" dropdown keyboardNav>
                                <button class="btn btn-default btn-sm dropdown-toggle" dropdownToggle type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{item.status}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li role="menuitem"
                                        *ngFor="#st of ['New','InProgress','','Finished','Pending','Dropped']"
                                        [class.hidden]="st == item.status"><a
                                            (click)="changeStatus(item, st)">{{st}}</a></li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" dropdown keyboardNav>
                                <button class="btn btn-default btn-sm dropdown-toggle" dropdownToggle type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span *ngIf="item.owner">{{item.owner.userId}}</span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li role="menuitem"
                                        *ngFor="#member of members"
                                        [class.hidden]="member == item.owner"><a
                                            (click)="assignTo(item, member)">{{member.userId}}</a></li>
                                </ul>
                            </div>
                        </td>
                        <td><a (click)="removeItem(item)"><span class="glyphicon glyphicon-remove"></span></a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <button class="btn btn-primary" (click)="showAddWorkitemDlg()">Add Work Item...</button>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span> Remove</button>
                <button class="btn btn-primary" (click)="showMoveToDialog();">Move To...</button>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="projectService.current == null">
    <h1 class="no-content-notice">No project.</h1>
</div>

<div class="modal fade in awd" *ngIf="ui.awd.show" [style.display]="ui.awd.show ? 'block' : 'block'" role="dialog">
    <div class="modal-dialog">
        <form #f="ngForm" (ngSubmit)="addWorkItem(f.value)">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" (click)="ui.awd.show = false"
                            data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Work Item to {{current.name}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-3">Type:</div>
                        <div class="col-sm-8">
                            <select #type ngControl="type">
                                <option value="US">User Story</option>
                                <option value="TA">Task</option>
                                <option value="DE">Defect</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Title:</div>
                        <div class="col-sm-8"><input type="text" class="title" ngControl="title"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Description:</div>
                        <div class="col-sm-8">
                            <textarea class="description" ngControl="description"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Effort Estimation:</div>
                        <div class="col-sm-8">
                            <input type="text" ngControl="estimation">
                        </div>
                    </div>

                    <div class="row" *ngIf="type.value == 'US'">
                        <div class="col-sm-3">Story Points</div>
                        <div class="col-sm-8">
                            <input type="text" ngControl="points" value="0">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" data-dismiss="modal">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade in awd" *ngIf="ui.showDetailDlg.show" [style.display]="ui.showDetailDlg.show ? 'block' : 'block'"
     role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="ui.showDetailDlg.show = false"
                        data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ui.showDetailDlg.item.title}}</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Description:{{ui.showDetailDlg.item.description}}</li>
                    <li>Estimation:{{ui.showDetailDlg.item.estimation}} hours</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button (click)="ui.showDetailDlg.show=false;" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in awd" *ngIf="ui.mtd.show" [style.display]="ui.mtd.show ? 'block' : 'block'"
     role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="ui.mtd.show = false"
                        data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Move selected items to plan</h4>
            </div>
            <div class="modal-body">
                <select #moveTo class="form-control" required>
                    <option *ngFor="#p of plans" [value]="p.id">{{p.name}}</option>
                </select>
            </div>
            <div class="modal-footer">
                <button (click)="ui.mtd.show=false;" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button (click)="moveItemsToPlan(moveTo.value)" class="btn btn-default" data-dismiss="modal">Move</button>
            </div>
        </div>
    </div>
</div>
