<div class="panel panel-default">
    <div class="panel-heading work-items-heading">

    </div>
    <table class="table">
        <tr>
            <th>
                <label>
                    <input type="checkbox" [checked]="false" (click)="alert('not implemented')" class="checkbox" title="Select/unselect all" />
                    <a href="javascript:void(0);" (click)="sortResult('id')">User name
                        <span *ngIf="sort.field=='id'">
                            <span class="glyphicon glyphicon-triangle-{{sort.order=='desc' ? 'bottom' : 'top'}}"></span>
                        </span>
                    </a>
                </label>
            </th>
            <th class="header-title">
                <a href="javascript:void(0);" (click)="sortResult('title')">Team name
                    <span *ngIf="sort.field=='title'">
                        <span class="glyphicon glyphicon-triangle-{{sort.order=='desc' ? 'bottom' : 'top'}}"></span>
                    </span>
                </a>
            </th>
            <th>
                <a href="javascript:void(0);" (click)="sortResult('status')">Leader
                    <span *ngIf="sort.field=='status'">
                        <span class="glyphicon glyphicon-triangle-{{sort.order=='desc' ? 'bottom' : 'top'}}"></span>
                    </span>
                </a>
            </th>
            <th><a href="javascript:void(0);" (click)="sortResult('owner')">Creation time
                <span *ngIf="sort.field=='owner'">
                    <span class="glyphicon glyphicon-triangle-{{sort.order=='desc' ? 'bottom' : 'top'}}"></span>
                </span>
            </a>
            </th>
            <th><a href="javascript:void(0);" (click)="sortResult('owner')">Last modified
                <span *ngIf="sort.field=='owner'">
                    <span class="glyphicon glyphicon-triangle-{{sort.order=='desc' ? 'bottom' : 'top'}}"></span>
                </span>
                </a>
            </th>
            <th>Operations</th>
        </tr>
        <tr *ngFor="let item of teams">
            <td class="id">
                <label>
                    <input class="checkbox" [(ngModel)]="item.checked" type="checkbox">
                    {{item.id}}
                </label>
            </td>
            <td>
                {{item.name}}
            </td>
            <td>
                <div class="btn-group">
                    <span>{{item.leader}}</span>
                </div>
            </td>
            <td>
                <div class="btn-group">
                    <span>{{item.createdAt}}</span>
                </div>
            </td>
            <td>{{item.updatedAt}}</td>
            <td>
                <a title="Remove this work item" (click)="alert('no implmentation')"><span class="glyphicon glyphicon-remove"></span></a>
            </td>
        </tr>
    </table>
</div>
